<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Titillium+Web" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu+Mono" />
    <!--<link rel="icon" type="image/png" href="favicon.png" />-->
    <title>zinc</title>
  </head>

  <body>
    <header>
      <span id="title"><span class="green">z</span>i<span class="green">n</span>c</span>
    </header>
    <article>
      <section>
        <p>Using crontab file {{.Crontab}}.</p>
        <table id="entries" class="entries-table">
        <code>
            <tr>
                <th> ID </th>
                <th> Min </th>
                <th> Hour </th>
                <th> DOM </th>
                <th> Month </th>
                <th> DOW</th>
                <th> User</th>
                <th> Command</th>
            </tr>
            {{range $i, $_ := .Entries}}
            <tr>
                <td> <a href="index.htm">{{$i}}</a></td>
                <td> {{.Get.min}} </td>
                <td> {{.Get.hr}} </td>
                <td> {{.Get.dom}} </td>
                <td> {{.Get.mon}} </td>
                <td> {{.Get.dow}} </td>
                <td> {{.Get.user}} </td>
                <td> {{.Get.cmd}} </td>
            </tr>
            {{end}}
        </code>
        </table>
      </section>
    </article>
    <footer>
      zinc
    </footer>
  </body>
</html>
