<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Titillium+Web" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu+Mono" />
    <link rel="stylesheet" type="text/css" href="css/login.css" />
    <!--<link rel="icon" type="image/png" href="favicon.png" />-->
    <title>zinc</title>
  </head>

  <body>
      <!--Temporary script for http-watcher. To be removed-->
      <script src="http://127.0.0.1:8000/_d/js"></script>
    <header>
      <span id="title"><span class="green">z</span>i<span class="green">n</span>c</span>
    </header>
    <section class="container">
    <div class="login"> 
          <form action="login" method="POST">
              <p><input type="text" id="username" placeholder="Username"></p>
              <p><input type="password" id="password" placeholder="Password"></p>
              <p><input type="submit" id="login" value="Login"></p> </form> </div>
    </section>
    <footer>
      zinc
    </footer>
  </body>
</html>
